.code {
    position: relative;
    grid-area: code;
    width: 100%;
    height: 100%;
}

.code > textarea {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    color: #fff;
    resize: none;
    border: 0;
    margin: 0;
}

.code > button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}
